@import url('./_normalize.css');
@import url('./_vars.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
}
.col_2 {
    grid-column: span 2;
}
.row_2 {
    grid-row: span 2;
}
.col_2_row_2 {
    grid-column: span 2;
    grid-row: span 2;
}

.title_1, .title_2 {
    font-family: var(--title-font-family);
    color: var(--title-color);
    font-size: var(--title-font-size);
    padding: 0;
    margin: 120px auto 80px auto;
}
.item {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.item:hover::after {
    opacity: 0;
    visibility: hidden;
}
.item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/blure.svg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.figcaption {
    font-family: var(--figcaption-font-family);
    color: var(--figcaption-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
}
.author {
    font-weight: 500;
}
